<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top 5 Cursuri pe Baza Recenziilor</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Top 5 Cursuri pe Baza Recenziilor</h1>
    <table>
      <thead>
        <tr>
          <th>Nume Curs</th>
          <th>Descriere</th>
          <th>Rating Mediu</th>
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
        <tr>
          <td>{{ course[1] }}</td>
          <td>{{ course[2] }}</td>
          <td>{{ course[3]|round(2) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br /><br />
    <a href="{{ url_for('index') }}">
      <button>Înapoi la Home</button>
    </a>
  </body>
</html>
