<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Notificări</title>
  </head>
  <body>
    <h1>Notificări</h1>
    <table>
      <thead>
        <tr>
          <th>Mesaj</th>
          <th>Data</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for notification in notifications %}
        <tr>
          <td>{{ notification.Mesaj }}</td>
          <td>{{ notification.Data_notificare }}</td>
          <td>{{ notification.Status_notificare }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
